# Script to calculate Meetings Per Week in Different Ways

This code will look at and parse the meetings data in different ways (like by number of attendees.)

In [20]:
import pandas as pd
from datetime import datetime, timedelta # to manipulate dates
import time # to deal with meeting times
import matplotlib.pyplot as plt
% matplotlib inline

path='/Users/brianna/Documents/WL_DBdeets/'

In [21]:
start_date_input='2016-01-10'

start_date = datetime.strptime(start_date_input, "%Y-%m-%d")
end_date = start_date + timedelta(days=7)
print(str(start_date)+'to'+str(end_date))

2016-01-10 00:00:00to2016-01-17 00:00:00

In [22]:
# Read in the dataframe for all of the events in one of the weeks
#dateRange='2016-01-10 00:00:00to2016-01-17 00:00:00'
allEvts = pd.read_csv(path+str(start_date)+'to'+str(end_date)+'Evnts_byEvnt.csv')

allEvts.head()

,Unnamed: 0,user_id,meeting_start,meeting_end,num_attendees,organizer
0,2,55d685ea057a9604ef0f7ab4,2016-01-14 06:30:00+00:00,2016-01-14 07:30:00+00:00,5,NaN
1,3,5509d31febd88bed11bfd19f,2016-01-13 18:00:00+00:00,2016-01-13 18:10:00+00:00,3,NaN
2,7,569504b17ceba51ecc5a3a75,2016-01-15 17:00:00+00:00,2016-01-15 18:00:00+00:00,3,NaN
3,8,55f03cdb8e41046db9c9c60d,2016-01-15 16:00:00+00:00,2016-01-15 16:30:00+00:00,28,NaN
4,9,5548e3eaf6fadaadbab084f6,2016-01-15 18:00:00+00:00,2016-01-15 18:10:00+00:00,5,True

# Make a new dataframe with summary statistics for each unique user.

New Variables:
 - number of meetings
 - average number of attendees per meeting
 - proportion meetings where user is the organizer, 
 - total number of meetings where user is the organizer
Calculate the variables above for both all meetings and only meetings with 3+ attendees.

In [3]:
# Remove last 6 characters from date strings so we can use strptime() and calculate 
# meeting lengths
def split_string(date_string):
    return date_string.split('+')[0]

allEvts['meeting_start'] = allEvts.meeting_start.apply(lambda x : split_string(x))
allEvts['meeting_end'] = allEvts.meeting_end.apply(lambda x : split_string(x))

#allEvts.head(10)

In [11]:
# Make a column of ones that you can use to sum the number of different types of meetings.
allEvts['MeetingsTotal']=1
allEvts['organizerTotal']=0

# Binarize the organizer variable to count how often the person organizes
allEvts.organizerTotal[allEvts.organizer == True]= 1

# Calculate the length of each meeting
allEvts['meetingLength'] = 'PLACEHOLDER'

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
def subtract_dates(df):
    print(time.strptime(df.meeting_end, "%Y-%m-%d %H:%M:%S"))
    meetingLength = time.strptime(df.meeting_end, "%Y-%m-%d %H:%M:%S") - time.strptime(df.meeting_start, "%Y-%m-%d %H:%M:%S")
    #return meetingLength

#print(allEvts.meeting_end[0])
#print(time.strptime(allEvts.meeting_end[0], "%Y-%m-%d %H:%M:%S"))
#start = time.strptime(allEvts.meeting_start[0], "%Y-%m-%d %H:%M:%S")
#end = time.strptime(allEvts.meeting_end[0], "%Y-%m-%d %H:%M:%S")
#start = datetime.datetime(allEvts.meeting_start[0]).to_seconds()
#end = datetime.datetime(allEvts.meeting_end[0]).to_seconds()
#x = end - start 

#subtract_dates(df[0])
#allEvts['meetingLength'] = allEvts.apply(lambda x : subtract_dates(x), axis=1)

### Add columns to numMeetings with different variables about the meetings for each user

In [15]:
allEvts.columns

del allEvts['MeetingsBinary']
del allEvts['organizerBinary']

In [18]:
# Sum together rows grouped by user_id (will give how many rows of each user there are)
byUser = allEvts.groupby(['user_id']).sum()
byUser['AveNumAttendees']=byUser.num_attendees/byUser.MeetingsTotal
byUser['PortionOfOrganizer']=byUser.organizerTotal/byUser.MeetingsTotal
df_allmtngs.to_csv(path+str(start_date)+'to'+str(end_date)+'Evnts_byEvnt.csv')byUser.head(10)

,Unnamed: 0,num_attendees,MeetingsTotal,organizerTotal,AveNumAttendees,PortionOfOrganizer
user_id,,,,,,
22kwMh5aTdMJAFG9K,6999123,504,34,10,14.823529,0.294118
24HEFwdd5SLZtLJEE,2072140,65,10,3,6.500000,0.300000
24RYdjagZrRmyfP2Q,3374019,66,12,5,5.500000,0.416667
24h2QKgdzY2meH9xE,1214012,32,9,0,3.555556,0.000000
278eKoZSE3yvB3Mnh,181966,11,3,0,3.666667,0.000000
27ysK5XXM4SXHWsFA,318643,3,1,0,3.000000,0.000000
28Juv9dw43veL562e,2135368,100,49,0,2.040816,0.000000
2Apu9eH56MZPrxGKi,229535,8,4,0,2.000000,0.000000
2BdMvcFwRa47BfbeL,1246186,230,31,12,7.419355,0.387097
2EmpRGxXtpukftcXe,897417,99,18,0,5.500000,0.000000

In [23]:
# Save the meetings data for this week as a csv file
byUser.to_csv(path+str(start_date)+'to'+str(end_date)+'EvntsCollapsedByUser.csv')